<div th:switch="${users}">
	    <h2 th:case="null">No users yet!</h2>
	        <div th:case="*">
	            <h2>Users</h2>
	            <table>
	                <thead>
	                    <tr>
	                        <th>First Name</th>
	                        <th>Last Name</th>
	                        <th>Edit</th>
	                        <th>Delete</th>
	                    </tr>
	                </thead>
	                <tbody>
	                <tr th:each="user : ${users}">
	                    <td th:text="${user.firstName}"></td>
	                    <td th:text="${user.lastName}"></td>
	                    <td><a th:href="@{/edit/{id}(id=${user.userId})}">Edit</a></td>
	                    <td><a th:href="@{/delete/{id}(id=${user.userId})}">Delete</a></td>
	                </tr>
	            </tbody>
	        </table>
	    </div>      
	    <p><a href="/signup">Add a new user</a></p>
	</div>